.header {
  background-color: #fefefe;
  font-size: 20px;
  color: #da92f6;
  font-weight: bold;
  margin-right: 8px;
}

.logo {
  margin-right: 5px;
  margin-top: -4px;
}

.user {
  float: right;
  font-weight: 600;
  font-size: 16px;
}

.sectionInner {
  height: calc(100vh - 64px);
}

.sectionContent {
  padding: 20px;
}
.content {
  background-color: #f2ecf3;
  border-radius: 16px;
  padding: 24px;
}


