
.header {
  background-color: #ffffff;
  font-size: 20px;
  color: var(--header-menu-title-color);
  font-weight: bold;
  margin-right: 8px;
}

.logo {
  margin-right: 5px;
  margin-top: -4px;
}

.user {
  float: right;
  font-weight: 400;
  font-size: 16px;
  color:rgb(0,0,0,0.88);
}

.user :global(a.ant-dropdown-trigger:hover) {
   color:var(--header-menu-title-color);
}


.sectionInner {
  height: calc(100vh - 64px);
}

.sectionContent {
  padding: 20px;
}
.content {
  border-radius: 16px;
  padding: 24px;
  background-color: #ffffff;
}

.menu :global(.ant-menu-submenu-selected >.ant-menu-submenu-title){
  color:var(--header-menu-title-color);
}

.menu :global(.ant-menu-item-selected){
  color:var(--header-menu-title-color);
  background-color: rgb(255, 255, 255);
  border:var(--border-purple) 2px solid;
  font-weight:bold
}


